{% extends 'base.html' %}
{% block title %}Login - CESFAM{% endblock %}

{% block content %}
<h2>Login</h2>



<form method="post" class="w-50">
    {% csrf_token %}
    <div class="mb-3">
        <label for="rut" class="form-label">RUT</label>
        <input type="text" name="rut" id="rut" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" name="password" id="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>

<div class="alert alert-warning mt-4">
    <strong>Cuentas</strong><br>
    Cuenta de admin: 11111111-1  
    <br>
    clave de admin: 123456 
    <br>
    Cuenta de profesional: 22222222-2  
    <br>
    clave de profesional: 123456 
    <br>
    Cuenta de tutor: 17555666-k  
    <br>
    clave de profesional: 123456 


</div>

{% if request.user.clave_temporal %}
  <script>
    window.location.href = "{% url 'cambiar_clave_temporal' %}";
  </script>
{% endif %}
{% endblock %}

