{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/controles.css' %}">

{% block title %}Página de inicio{% endblock %}

{% block content %}

<div class="container">
    <h1>Controles de {{ nino.nombre }}</h1>
    <p>Fecha de nacimiento: {{ nino.fecha_nacimiento }}</p>
    <hr>
    <div class="controles-flex">
        {% for control in controles %}
            <div class="card  {% if control.realizado %}realizado{% else %}pendiente{% endif %}">
                <h3>{{ control.nombre }}</h3>
                <p><strong>Fecha programada:</strong> {{ control.fecha_programada }}</p>
                <p><strong>Estado:</strong> 
                    {% if control.realizado %}
                        ✅ Realizado
                    {% else %}
                        ❌ Pendiente
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}