body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }
    .container {
        max-width: 900px;
        margin: 30px auto;
    }
    h1 {
        text-align: center;
    }
    .controles-flex {
        display: flex;
    }
    
    .realizado {
        border-left: 10px solid green;
    }
    .pendiente {
        border-left: 10px solid red;
    }